.search-form {
    width: 30%;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.search-form .input-form {
    margin-right: 10px;
}

.search-form .input-form input {
    width: 100%;
    border: 0;
    outline: none;
}